// frontend/src/components/FavoriteButton.scss
.favorite-button {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    
    &:hover, &:focus {
      background: none;
      border: none;
      box-shadow: none;
    }
    
    .star-icon {
      &[fill="none"] {
        stroke: #205375;
        stroke-width: 1;
      }
      
      &[fill="yellow"] {
        stroke: #205375;
        stroke-width: 1;
      }
    }
  }