.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #112B3C;
    color: white;
    text-align: center;
    padding: 0;
    line-height: 40px;
    z-index: 1000;
    
    img.artsy-logo {
      vertical-align: middle;
      height: 20px;
      margin: 0 5px;
    }
    
    a {
      color: white;
      text-decoration: none;
      display: inline-block;
    }
  }
  
  /* Responsive adjustments */
  @media (max-width: 576px) {
    .footer {
      line-height: 36px;
      
      img.artsy-logo {
        height: 18px;
      }
    }
  }