.search-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results {
  width: 80%; // Match the search form container width
  min-width: 900px; // Match the search form container min-width
  margin-top: 3px; // Reduced margin
  overflow-x: auto;
  
  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    height: 5px; // Thinner scrollbar
  }
  
  // Scrollbar track
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  // Scrollbar handle
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  // Scrollbar handle on hover
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.artists-container {
  display: flex;
  gap: 8px; // Space between cards
  padding: 10px 0;
  width: max-content;
  min-width: 100%;
}